* {
  background-color: #3a3a3a;
  color: white;
  font-family: 'VT323', monospace;
}

#background-image, #game-text{
  width: 80%;
  height: 600px;
  margin-left: 10%;
  margin-right: 10%;
}
ul{
  margin-left: 20%;
  margin-right: 20%;
  font-size: 2em;
}
p{
  font-size: 2em;
}
#game-text{
  height: 400px;
}

#user-box{
  float: right;
}

.linkToOne {
  margin: 0px auto;
  padding-left: 360px;
}

a {
  font-size: 40px;
  padding: 1em;
  padding-top: 1%;
  margin: 0px auto;
  margin-top: 1em;
}

.footer {
  font-size: 26px;
  text-align: center;
  margin-top: 35px;
}

#prompt {
  width: 80%;
  text-align: center;
  margin-left: 10%;
}

#header {
  background-color: #3a3a3a;
  height: 4em;
  text-align: center;
}

.question:hover {
  text-shadow: 1px 0 6px goldenrod;
}
/*pair programmed with Luis*/

#player-image{
  width: 20%;
  height: 20%;
  float: left;
  border: black 2px bold;
}
#interactive-image{
  width: 20%;
  height: 20%;
  float: right;
  border: black 2px bold;
}
#brook{
  width: auto;
  height: auto;
  margin-left: 28%;
  margin-right: 10%;
  box-shadow: 1px 0 100px white;
}

.welcome {
  width: 75%;
  margin: 0px auto;
  padding-top: 40px;
  padding-bottom: 50px;
}

.whichWeek {
  font-size: 60px;
  text-align: center;
  margin-top: 15px;
}

.bossPage {
  color: #ff0101;
  font-size: 150px;
  margin-bottom: 30px;
}

#background-image {
  border-radius: 10px;
  height: 500px;
  width: auto;
  margin: 0 25%;
  box-shadow: 1px 0 150px red;
}

#response-paragraph {
  text-align: center;
  padding-top: 70px;
  font-size: 50px;
  width: 60%;
  margin: 0px auto;
}
