* {
    background-color: #3A3A3A;
    color: white;
    font-family: "VT323", monospace;
}
#game-text {
    width: 80%;
}
ul{
  margin-left: 20%;
  margin-right: 20%;
  font-size: 3.5em;
}
p{
  font-size: 3em;
}
#game-text {
    height: 400px;
}

#user-box {
    float: right;
}

.linkToOne {
    font-size: 3em;
    margin: 0 auto;
    padding-left: 360px;
}

a {
    font-size: 3em;
    padding: 1em;
    padding-top: 1%;
    margin: 0 auto;
    margin-top: 1em;
}

.footer {
    font-size: 1em;
    text-align: center;
    margin-top: 35px;
}

#prompt {
    width: 80%;
    text-align: center;
    margin-left: 10%;
}

#header {
    background-color: #3A3A3A;
    height: 4em;
    text-align: center;
}

.question:hover {
    text-shadow: 1px 0 6px goldenrod;
}
.page-links:hover{
  text-shadow: 1px 0 20px lightblue;
}
/*pair programmed with Luis*/

#player-image {
    width: 20%;
    height: 20%;
    float: left;
    border: black 2px bold;
}
#interactive-image {
    width: 20%;
    height: 20%;
    float: right;
    border: black 2px bold;
}
#brook {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    height: auto;
    box-shadow: 1px 0 100px white;
}

.welcome {
    width: 75%;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 50px;
}

.whichWeek {
    font-size: 4em;
    text-align: center;
    margin-top: 15px;
}

.bossPage {
    color: #FF0101;
    font-size: 150px;
    margin-bottom: 30px;
}

#response-paragraph {
    text-align: center;
    padding-top: 70px;
    font-size: 50px;
    width: 60%;
    margin: 0 auto;
}

#avatar-stats-group {
    display: flex;
    justify-content: center;
}

#character-avatar-pane {
    display: flex;
    justify-content: right;
    width: 60%;
}


canvas {
    background-color: transparent;
    height: 100% !important;
}

#character-stats-pane {
    display: none;
}


#avatar-stats-group {
    width: 100%;
}

#background-image {
    margin-bottom: 60px;
    border-radius: 10px;
    width: 60%;
    box-shadow: 1px 0 60px red;
    /*display: inline;
  position: relative;
  margin-left: 0px;
  margin-right: 0px;*/
    /*position: relative;
  right: 10%;
  clear: both;*/
}

#avatar-pane {
    position: absolute;
}

#place-image {
    display: flex;
    justify-content: center;
    position: relative;
}

#avatar-image {
    height: 150px;
    border-radius: 10px;
}
