*{
  background-color: #3a3a3a;
  font-family: 'VT323', monospace;
  color: white;
}
h1{
  text-align: center;
  font-size: 8em;
}
.footer{
  font-size: 1em;
  text-align: center;
}
p{
  font-size: 3em;
  margin-left: 20%;
  margin-right: 20%;
}
.footer{
  font-size: 1em;
  text-align: center;
}
