*{
  font-family:'VT323', monospace;
  background-color: #3a3a3a;
  color: white;
}
#header {
  background-color: #3a3a3a;
  height: 4em;
  text-align: center;
}
.page-links:hover{
  text-shadow: 1px 0 20px lightblue;
}
a {
  color: white;
  font-size: 40px;
  padding: 1em;
  margin: 0px auto;
}
.footer {
  font-size: 26px;
  text-align: center;
  margin-top: 35px;
}
.traits {
  border: 2px solid #868686;
  display: inline-block;
}
p{
  font-size: 2em;
  margin-left: 10%;
}
h1 {
    font-size: 75px;
    text-align: center;
    margin: 0px;
}
h3 {
  font-size: 50px;
  /*text-align: center;*/
  margin: 10px;
}
/*pair programmed with Teddy*/
.avatar{
  height: 100%;
  width: 20%;
  border: solid black 5px;
  border-radius: 80%;
  margin: 0px;
  float: left;
}
div{
  width: 100%;
}
.text{
  float: left;
  margin-left: 70px;
  width: 60%;
}
#allie-character{
  background-color: lightgreen;
}

#allie-character:hover {
  box-shadow: 1px 0 100px white;
}

#logan-character{
  background-color: cyan;
}

#logan-character:hover {
  box-shadow: 1px 0 100px white;
}

#luis-character{
  background-color: crimson;
}

#luis-character:hover {
  box-shadow: 1px 0 100px white;
}

#david-character{
  background-color: lightcoral;
}

#david-character:hover {
  box-shadow: 1px 0 100px white;
}
/*logan aditions*/

/*img:hover {
  transform: rotateY(360deg);
  animation: spin 1s linear infinite;
}*/
/*
img {
  border-radius: 50%;
  -webkit-transition: -webkit-transform .8s ease-in-out;
          transition:         transform .8s ease-in-out;
}
img:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}*/
